 <?xml version="1.0"?>

<model>
  <name>straight_corridor_short</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sayantan Datta</name>
    <email>sdatta3 at uncc dot edu</email>
  </author>

  <description>
    A small version of the straight corridor to test if the robot can enter the large room
  </description>

</model>
