 <?xml version="1.0"?>

<model>
  <name>basic_room</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Sayantan Datta</name>
    <email>sdatta3 at uncc dot edu</email>
  </author>

  <description>
    A basic room with one entrance. This is for simulating particle filter with
    turtlebot3 robot.
  </description>

</model>
